<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">

<name>CNHS</name>

<description> An app to alert students of notifications at Cardinal Newman High School in Santa Rosa, CA. </description>

<author email="ethandburrell@gmail.com" href="http://cardinalnewman.org"> Ethan Burrell + Steven Bucher </author>
<icon src="icon (1).png" />
<content src="calendar.html"/>

<plugin name="cordova-plugin-whitelist" source="npm" />

<plugin name="phonegap-plugin-push" spec="1.6.0">
    <param name="SENDER_ID" value="244192342021" />
</plugin>
<plugin name="cordova-plugin-device" source="npm" />

<access origin="*" />
<access origin="https://secure-island-66271.herokuapp.com/calendar/" />
<platform name="android">
    <preference name="orientation" value="portrait" />
<!-- a preference specific to android only here -->
</platform>
<platform name="ios" >
    <preference name="orientation" value="portrait" />
</platform>
<feature name="Device">
<param name="android-package"
value="org.apache.cordova.device.Device"/>

</feature>
</widget>
